<h2>Contact List</h2>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let contact of contacts; let i = index">
    <td>{{ contact.firstName }}</td>
    <td>{{ contact.lastName }}</td>
    <td>{{ contact.phone }}</td>
    <td>
      <button (click)="editContact(contact,i)">Edit</button>
      <button (click)="deleteContact(i)">Delete</button>
    </td>
  </tr>
</table>

<h2>Add Contact</h2>

<input [(ngModel)]="newContact.firstName" placeholder="Name" />
<input [(ngModel)]="newContact.lastName" placeholder="Name" />
<input [(ngModel)]="newContact.phone" placeholder="Phone" /> 
<button (click)="addContact()" *ngIf="updateIndex==undefined">Add</button>
<button (click)="updateContact()" *ngIf="updateIndex!=undefined">Update</button>

